
.group:after {
  content: "";
  display: table;
  clear: both;
}
/* Border-box  */
html {
	font-family: 'Roboto', 'Sans-Serif';
	font-weight: 300;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* key board CSS */

body {
	font-weight: 300;
	background: url(/assets/background3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav.navbar-default.group,
.box h1 {
	background: #00c6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

.fa-home, 
nav.navbar-default.group span {
	color: #fff;
}

#container {
	margin: 100px auto 0 auto;
	width: 688px;
	box-sizing: border-box;
}


/* todo css */
.box {
	width: 360px;
	margin: 0 auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
/* todo css */
.box h1 {
	color: white;
	padding: 10px 20px;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
}

.box li {
	height: 40px;
	line-height: 40px;
}
/* todo css */
.box li:nth-child(2n) {
	background: #fff;
}
/* todo css */
.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
/* todo css */

.fa-plus {
	float: right;
}

.completed {
	color: gray;
	text-decoration: line-through;
}
/* todo css adds in a */
.box input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	padding: 13px 13px 13px 20px;
	width: 100%;
	box-sizing: border-box;
}
/*adds blue border, outline is none no html highlights border, white background*/
.box input:focus {
	/*background: #fff;*/
	border: 3px solid #2980b9;
	outline: none;
}

/* span css when it appears, but it is hidden */
.box span {
	background: #e74c3c;
	color: white;
	width: 0;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear;
	opacity: 0;
}
/* when hover, show the span */
.box li:hover span {
	width: 40px;
	opacity: 1;
 }

#write {
	margin: 0 0 5px;
	padding: 5px;
	width: 671px;
	height: 200px;
	font: 1em/1.5;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}
#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #FCB228;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
}

.capslock, .tab, .left-shift {
	clear: left;
}
#keyboard .tab, #keyboard .delete {
	width: 70px;
}
#keyboard .capslock {
	width: 80px;
}
#keyboard .return {
	width: 77px;
}
#keyboard .left-shift {
	width: 95px;
}
#keyboard .right-shift {
	width: 109px;
}
.lastitem {
	margin-right: 0;
	border-sizing: border-box;
}
.uppercase {
	text-transform: uppercase;
}
#keyboard .space {
	clear: left;
	width: 659px;
}
.on {
	display: none;
}

#keyboard .down {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #fff;
  background: #FBD552;
  /*color: #fff;*/
}

.lastkey {
	color: #FC6404;
	padding-bottom: 15px;
}


.justdoit {
	text-align: center;
	margin: 50px auto;	
}

.justdoit img {
		width: 500px;
 		background-image: url("/assets/tumblr_nphb9i6uMs1qksk74o1_500.gif");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid orange;
    border-radius: 80px;
    display: none;
}

















